<table class="table container" >
  <h2 class="container">Lista de Produtos</h2>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Preço</th>
    <th>Status</th>
    <th>Ações</th>
    <th><button [routerLink]="['/produto-form']" class="btn btn-success">Novo</button></th>
  </tr>
  <tr *ngFor="let p of produto?.data"> <!--forech-->
    <td>{{ p.id }}</td>
    <td>{{ p.name }}</td>
    <td>{{ p.description }}</td>
    <td>{{ p.price }}</td>
    <td>{{ p.status }}</td>
    <td class="btn-group">
      <button class="btn btn-info mr-2" [routerLink]="['/produto-form',p.id]">Editar</button>
      <button class="btn btn-danger" (click)="deletar(p.id)">Deletar</button>
    </td>
  </tr>
</table>
